<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mi primera app
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-item>
    <ion-input label="usuario" labelPlacement="floating" placeholder="Inserte usuario" [(ngModel)]="usuario" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="contraseña" labelPlacement="floating" placeholder="Inserte contraseña" [(ngModel)]="contrasena" ></ion-input>
  </ion-item>
  <ion-button fill="outline" (click)="inicio()">Inicio de sesión</ion-button>
</ion-content>
